body{
    
}
.abc{
    background-image:linear-gradient(#edfefe, #ffffff);
}
p{
font-size: 80px;

}

p strong{
    font-size: 84px;
    font-weight:bold;
}
.card{
    position: relative;
    width: 99%;
    height: 85%;
}

.card .off{
font-size: 12px;
font-weight: bold;
color: #12b985;
}

.card-img-top{
    height: 70%;
}

.abd{
    background-image: linear-gradient(#ffffff, #fff1d6,#ffffff);
}
.pt-4{
    padding-top: 100px!important;

}

.head{
background-image: linear-gradient(#ffffff, #f1f0f4,#ffffff);
}

.bands{
font-size: 84 ;
}

.line-through{
    text-decoration: line-through;
    font-size: 12px;
    color: #b2b9bf;
}

.headphone{
    background-image: linear-gradient(#ffffff,#dfeeeb,#ffffff);
}

.Speakers{
    background-image: linear-gradient(#ffffff, #e6ecff);
}
.btn-second {
    
    width: 75%!important;
    border: 1px solid white;
    bottom: 175px !important;
    position: absolute;
    margin: -50px;
    left: 28% !important;
    border-radius: 10px!important;
    padding: 3px 6px!important;
    font-size: 12px;
    font-weight: 700;
    background: #fcc50b;
    color: #000;
    letter-spacing: -0.48px;
}



@media only screen and (max-width: 768px){
.card {
    height: unset;


}
.btn-second{
    left: 50px !important;
    margin: -60px 0px;
}

}